{% extends 'fireapp/base.html' %}

{% block content %}

<h1> Dashboard </h1>
<p> Sensor_ID: {{ sensor_id }} </p>
<div class="col">
    <img src="data:image/png;base64,{{ image_base64 }}" class="img-fluid" alt="My Plot" style="min-width: 400px;">
</div>
<div class="col">
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#sideBarContent" aria-controls="sideBarContent" aria-expanded="false" aria-label="Toggle sidebar">
            Variables
        </button>
        <div class="collapse" id="sideBarContent">
            <hr>
            <form method='post'>
                {% csrf_token %}
                <ul class="nav nav-pills flex-column">
                    {% for var in vars_list %}
                    <li class="nav-item">
                        <button formnovalidate class="nav-link" name="setvar" value="{{ var }}">{{ var }}</button>
                    </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </div>
</div>
<div class="col">


</div>

{% endblock content %}
