{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                {% for data in sample_data %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.value }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div class="profile-description">
            <h3>Sample Profile</h3>
            <p>This is a sample profile description. You can replace it with actual profile information.</p>
        </div>
    </div>
</div>
{% endblock %}
